node_modules/
out/
release/
dist/
coverage/

build/icon.png
build/icon.ico
build/icons/
build/splash.png

*.log
npm-debug.log*
.DS_Store
Thumbs.db

.env
.env.local

.idea/
.vscode/*
!.vscode/extensions.json
